body {
	font-family: monospace;
	text-align: justify;
}

h1 {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.inline {
	display: inline;
}

.link-button {
	background: none;
	border: none;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	font-size: 1em;
	font-family: serif;
}

.link-button:focus {
	outline: none;
}

.link-button:active {
	color:red;
}
